* {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
}

.section {
	width: 100%;
	height: 100%;
	position: absolute;
}

.pageLoading {
	background: url(../images/bg1.png?v=1) repeat;
	z-index: 100;
}

.logoSmall {
	width: 40px;
	height: 31px;
	background: url(../images/logo-small.png?v=1);
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -20px;
	background-size: contain;
}

.pageLoading .car {
	width: 150px;
	height: 82px;
	position: absolute;
	top: 55%;
	left: 50%;
	background-image: url(../images/car5.png);
	margin-left: -75px;
	background-size: contain;
}

.pageLoading .car .wheel1 {
	width: 23px;
	height: 23px;
	background: url(../images/wheel.png);
	background-size: contain;
	position: absolute;
    bottom: 0;
    left: 43px;
	animation: rotate 1000ms linear infinite;
	-moz-animation: rotate 1000ms linear infinite;
	-webkit-animation: rotate 1000ms linear infinite;
	-o-animation: rotate 1000ms linear infinite;
}

.pageLoading .car .wheel2 {
	width: 23px;
	height: 23px;
	background: url(../images/wheel.png);
	background-size: contain;
	position: absolute;
    bottom: 0;
    left: 115px;
	animation: rotate 1000ms linear infinite;
	-moz-animation: rotate 1000ms linear infinite;
	-webkit-animation: rotate 1000ms linear infinite;
	-o-animation: rotate 1000ms linear infinite;
}

#jpreLoader{
	width: 150px;
	height: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	babackground: #fff;
}

#jpreBar {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color:#c41c2f;
	animation: progress 2s linear infinite;
	-moz-animation: progress 2s linear infinite;
	-webkit-animation: progress 2s linear infinite;
	-ms-animation: progress 2s linear infinite;
	-o-animation: progress 2s linear infinite;	
}

#jprePercentage {
	color: #c41c2f;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	top: 10px;
}

.splashScreen {
	background: url(../images/bg.png?v=1) repeat;
	z-index: 99;
}

.logo {
	width: 159px;
	height: 137;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -80px;
	margin-top: -134px;
	background: url(../images/logo.png?v=1);
	background-size: contain;
	cursor: pointer;
}

@keyframes logoWhite {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}

@-moz-keyframes logoWhite {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}

@-webkit-keyframes logoWhite {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}

@-o-keyframes logoWhite {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}

.logoWhite {
	width: 141px;
	height: 112px;
	background: url(../images/logo-white.png);
	background-size: contain;
	margin-left: 9px;
	animation: logoWhite 3s infinite;
	-moz-animation: logoWhite 3s infinite;
	-webkit-animation: logoWhite 3s infinite;
	-o-animation: logoWhite 3s infinite;
}

.schoolMap {
	background: #192f68;
	overflow: hidden;
	z-index: 98;
}

@keyframes bigCloud {
	0% {left: 3%;}
	50% {left: 13%;}
	100% {left: 3%;}
}

@-moz-keyframes bigCloud {
	0% {left: 3%;}
	50% {left: 13%;}
	100% {left: 3%;}
}

@-webkit-keyframes bigCloud {
	0% {left: 3%;}
	50% {left: 13%;}
	100% {left: 3%;}
}

@-o-keyframes bigCloud {
	0% {left: 3%;}
	50% {left: 13%;}
	100% {left: 3%;}
}

.cloudBig {
	width: 112px;
	height: 56px;
	position: absolute;
	top: 30px;
	background: url(../images/cloud-big.png);
	background-size: contain;
	animation: bigCloud 30s infinite;
	-moz-animation: bigCloud 30s infinite;
	-webkit-animation: bigCloud 30s infinite;
	-o-animation: bigCloud 30s infinite;
}

@keyframes smallCloud {
	0% {right: 3%;}
	50% {right: 13%;}
	100% {right: 3%;}
}

@-moz-keyframes smallCloud {
	0% {right: 3%;}
	50% {right: 13%;}
	100% {right: 3%;}
}

@-webkit-keyframes smallCloud {
	0% {right: 3%;}
	50% {right: 13%;}
	100% {right: 3%;}
}

@-o-keyframes smallCloud {
	0% {right: 3%;}
	50% {right: 13%;}
	100% {right: 3%;}
}

.cloudSmall {
	width: 61px;
	height: 30px;
	position: absolute;
	top: 10px;
	background: url(../images/cloud-small.png);
	background-size: contain;
	animation: smallCloud 30s infinite;
	-moz-animation: smallCloud 30s infinite;
	-webkit-animation: smallCloud 30s infinite;
	-o-animation: smallCloud 30s infinite;
}

.helicopter {
	width: 130px;
	height: 78px;
	position: absolute;
	background-image: url(../images/heli5.png);
	background-size: contain;
    top: 150px;
    right: 50%;
    margin-right: -65px;
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
}

.helicopter .fan {
	width: 10px;
	height: 36px;
	background: url(../images/fan.png);
	background-size: contain;
	position: absolute;
    top: 6px;
    left: 18px;
	animation: rotate 1000ms linear infinite;
	-moz-animation: rotate 1000ms linear infinite;
	-webkit-animation: rotate 1000ms linear infinite;
	-o-animation: rotate 1000ms linear infinite;
}

.helicopter.move {
	width: 100px;
	height: 60px;
	top: 10px;
	left: auto;
	right: 10px;
    margin-right: 0;
}

.helicopter span {
	color: #fff;
	font-size: 12px;
	position: absolute;
	bottom: -12px;
    width: 100%;
	text-align: right;
	opacity: 0;
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
}

.helicopter .ladder {
	width: 2px;
	background: #c41c2f;
	left: 94px;
    top: 70px;
    position: absolute;
}

.helicopter .people1 {
	width: 54px;
    position: absolute;
    left: -16px;
}

.helicopter .people2 {
	width: 54px;
    position: absolute;
    left: -36px;
}

.map {
	width: 240px;
	height: 326px;
	position: absolute;
	bottom: 110px;
	left: 50%;
	margin-left: -120px;
	opacity: 0;
	background: url(../images/map.png?v=1);
	background-size: contain;
}

.logoTiny {
	width: 25px;
	height: 25px;
	background: url(../images/logo-tiny.png);
	background-size: contain;
	position: absolute;
	top: 200px;
	left: 124px;
}

.schools {
	width: 62px;
	height: 32px;
	position: absolute;
	display: block;
}

.schoolHuawei {
	top: 172px;
    left: 47px;
}

.schoolLSE {
	top: 262px;
    left: 176px;
}

.schoolShengan {
	top: 59px;
    left: 128px;
}

.schoolBasi {
	top: 254px;
    left: 3px;
}

.schoolYueke {
	top: 154px;
    left: 159px;
}

.schoolAikesaite {
	top: 296px;
    left: 22px;
}

.schoolAikesaite {
	top: 296px;
    left: 22px;
}

.schoolUAL {
	top: 288px;
    left: 112px;
}

.schoolDulun {
	top: 105px;
    left: 149px;
}

.schoolBulisituo {
	top: 213px;
    left: -2px;
}

.schoolUCL {
	top: 207px;
    right: -2px;
}

.schoolBg {
	height: 286px;
	width: 100%;
	position: absolute;
	bottom: 75px;
	overflow: hidden;
}

.schoolBg::after {
	content: "";
	display: block;
	clear: both;
}

.building {
	width: 200%;
	height: 286px;
	background-repeat: repeat-x;
	float: left;
	background: url(../images/building.png);
	background-size: contain;
}

.startContainer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 75px;
	background: url(../images/bg.png) repeat;
}

.start {
	width: 95px;
	height: 45px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -48px;
	margin-top: -23px;
	cursor: pointer;
	background: url(../images/start.png);
	background-size: contain;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
	}
}

@-moz-keyframes rotate {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
	}
}

@-o-keyframes rotate {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
	}
}

.startContainer .car {
	width: 200px;
	height: 110px;
	position: absolute;
	top: -110px;
	left: 50%;
	background-image: url(../images/car5.png);
	margin-left: -100px;
	background-size: contain;
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
}

.startContainer .car .wheel1 {
	width: 30px;
	height: 30px;
	background: url(../images/wheel.png);
	background-size: contain;
	position: absolute;
    bottom: 0;
    left: 59px;
	animation: rotate 1000ms linear infinite;
	-moz-animation: rotate 1000ms linear infinite;
	-webkit-animation: rotate 1000ms linear infinite;
	-o-animation: rotate 1000ms linear infinite;
}

.startContainer .car .wheel2 {
	width: 30px;
	height: 30px;
	background: url(../images/wheel.png);
	background-size: contain;
	position: absolute;
    bottom: 0;
    left: 155px;
	animation: rotate 1000ms linear infinite;
	-moz-animation: rotate 1000ms linear infinite;
	-webkit-animation: rotate 1000ms linear infinite;
	-o-animation: rotate 1000ms linear infinite;
}

.startContainer .car.move {
	transform: scale(0.8);
	-moz-transformn: scale(0.8);
	-webkit-transform: scale(0.8);
	-o-transform: scale(0.8);
	top: -100px;
}

.panel {
	overflow: scroll;
}

.schoolIntro {
	width: 100%;
	height: 100%;
	background: url(../images/bg2.png?v=1);
	position: absolute;
	top: 0;
	opacity: 0;
}

.schoolIntro img {
	margin-top: 30px;
}

.qanda {
	list-style: none;
	font-size: 12px;
}

.qanda li {
	padding-left: 20px;
	margin: 10px;
	line-height: 15px;
}

.qanda li:nth-child(odd) {
	color: #00a0e9;
	background: url(../images/q.png) no-repeat;
	background-size: 15px 15px;
}

.qanda li:nth-child(even) {
	color: #fff;
	background: url(../images/a.png) no-repeat;
	background-size: 15px 15px;
}

.closeBtn {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 22px;
	height: 22px;
	background: url(../images/close.png);
	background-size: contain;
	z-index: 300000;
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
}

.ufIntro {
	width: 100%;
	height: 100%;
	background: url(../images/bg2.png?v=1);
	position: absolute;
	top: 0;
	opacity: 0;
}

.ufIntro img {
	width: 95%;
	margin: 30px auto;
	display: block;
}

.earlyBird {
	width: 100%;
	height: 100%;
	background: url(../images/bg3.png?v=1);
	position: absolute;
	top: 0;
	opacity: 0;
}

.earlyBird img {
	width: 95%;
	margin: 10px auto;
	display: block;
}

.share {
	width: 100%;
	height: 100%;
	background: url(../images/bg2.png?v=1);
	position: absolute;
	top: 0;
	opacity: 0;
}

.share .car {
	margin: 70px auto 0;
	display: block;
	width: 220px;
}

.share .shareinfo {
	width: 95%;
	margin: 0 auto;
	display: block;
}

.share .qr {
	width: 250px;
	margin: 0 auto 10px;
	display: block;
}

.share ul {
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	justify-content: center;
}

.share ul li {
	margin: 20px 10px;
}

.share ul li .download {
	width: 70px;
	height: 89px;
	background: url(../images/download.png);
	background-size: contain;
}

.share ul li .video {
	width: 70px;
	height: 89px;
	background: url(../images/video.png);
	background-size: contain;
}

.share ul li .aboutme {
	width: 71px;
	height: 90px;
	background: url(../images/aboutme.png);
	background-size: contain;
}

.shareTip {
	width: 60px;
	height: 48px;
	background: url(../images/share-tip.png);
	background-size: contain;
	position: absolute;
    right: 20px;
    top: 20px;
}

.hideBlock {
	width: 0;
	height: 0;
	overflow: hidden;
	display: block;
}
