* {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
}

.section {
	width: 100%;
	height: 100%;
	position: absolute;
}

.pageLoading {
	background: url(../images/bg1.png) repeat;
	z-index: 100;
}

.logoSmall {
	width: 118px;
	height: 93px;
	background: url(../images/logo-small.png);
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -60px;
	background-size: contain;
}

#jpreLoader{
	width: 150px;
	height: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	babackground: #fff;
}

#jpreBar {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color:#c41c2f;
	animation: progress 2s linear infinite;
	-moz-animation: progress 2s linear infinite;
	-webkit-animation: progress 2s linear infinite;
	-ms-animation: progress 2s linear infinite;
	-o-animation: progress 2s linear infinite;	
}

#jprePercentage {
	color:#c41c2f;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-weight:bold;
	text-align:center;
	top: 10px;
}

.splashScreen {
	background: url(../images/bg.png) repeat;
	z-index: 99;
}

.logo {
	width: 140px;
	height: 111;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -70px;
	margin-top: -56px;
	background: url(../images/logo.png);
	background-size: contain;
	cursor: pointer;
}

.schoolMap {
	background: #192f68;
	overflow: hidden;
	z-index: 98;
}

@keyframes bigCloud {
	0% {left: 3%;}
	50% {left: 13%;}
	100% {left: 3%;}
}

@-moz-keyframes bigCloud {
	0% {left: 3%;}
	50% {left: 13%;}
	100% {left: 3%;}
}

@-webkit-keyframes bigCloud {
	0% {left: 3%;}
	50% {left: 13%;}
	100% {left: 3%;}
}

@-o-keyframes bigCloud {
	0% {left: 3%;}
	50% {left: 13%;}
	100% {left: 3%;}
}

.cloudBig {
	width: 112px;
	height: 56px;
	position: absolute;
	top: 30px;
	background: url(../images/cloud-big.png);
	background-size: contain;
	animation: bigCloud 30s infinite;
	-moz-animation: bigCloud 30s infinite;
	-webkit-animation: bigCloud 30s infinite;
	-o-animation: bigCloud 30s infinite;
}

@keyframes smallCloud {
	0% {right: 3%;}
	50% {right: 13%;}
	100% {right: 3%;}
}

@-moz-keyframes smallCloud {
	0% {right: 3%;}
	50% {right: 13%;}
	100% {right: 3%;}
}

@-webkit-keyframes smallCloud {
	0% {right: 3%;}
	50% {right: 13%;}
	100% {right: 3%;}
}

@-o-keyframes smallCloud {
	0% {right: 3%;}
	50% {right: 13%;}
	100% {right: 3%;}
}

.cloudSmall {
	width: 61px;
	height: 30px;
	position: absolute;
	top: 10px;
	background: url(../images/cloud-small.png);
	background-size: contain;
	animation: smallCloud 30s infinite;
	-moz-animation: smallCloud 30s infinite;
	-webkit-animation: smallCloud 30s infinite;
	-o-animation: smallCloud 30s infinite;
}

.map {
	width: 240px;
	height: 326px;
	position: absolute;
	bottom: 150px;
	left: 50%;
	margin-left: -120px;
	opacity: 0;
	background: url(../images/map.png);
	background-size: contain;
}

.schools {
	width: 62px;
	height: 32px;
	position: absolute;
	display: block;
}

.schoolHuawei {
	top: 172px;
    left: 47px;
}

.schoolLSE {
	top: 262px;
    left: 176px;
}

.schoolShengan {
	top: 59px;
    left: 128px;
}

.schoolBasi {
	top: 254px;
    left: 3px;
}

.schoolYueke {
	top: 154px;
    left: 159px;
}

.schoolAikesaite {
	top: 296px;
    left: 22px;
}

.schoolAikesaite {
	top: 296px;
    left: 22px;
}

.schoolUAL {
	top: 288px;
    left: 112px;
}

.schoolDulun {
	top: 105px;
    left: 149px;
}

.schoolBulisituo {
	top: 213px;
    left: -2px;
}

.schoolUCL {
	top: 207px;
    right: -2px;
}

.schoolBg {
	height: 286px;
	width: 100%;
	position: absolute;
	bottom: 75px;
	overflow: hidden;
}

.schoolBg::after {
	content: "";
	display: block;
	clear: both;
}

.building {
	width: 200%;
	height: 286px;
	background-repeat: repeat-x;
	float: left;
	background: url(../images/building.png);
	background-size: contain;
}

.startContainer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 75px;
	background: url(../images/bg.png) repeat;
}

.start {
	width: 95px;
	height: 45px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -48px;
	margin-top: -23px;
	cursor: pointer;
	background: url(../images/start.png);
	background-size: contain;
}

.schoolIntro {
	width: 100%;
	height: 100%;
	background: url(../images/bg2.png);
	position: absolute;
	top: 0;
	opacity: 0;
}

.schoolIntro img {
	margin-top: 30px;
}

.qanda {
	list-style: none;
	font-size: 12px;
}

.qanda li {
	padding-left: 20px;
	margin: 10px;
	line-height: 15px;
}

.qanda li:nth-child(odd) {
	color: #00a0e9;
	background: url(../images/q.png) no-repeat;
	background-size: 15px 15px;
}

.qanda li:nth-child(even) {
	color: #fff;
	background: url(../images/a.png) no-repeat;
	background-size: 15px 15px;
}

.closeBtn {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 22px;
	height: 22px;
	background: url(../images/close.png);
	background-size: contain;
	z-index: 300000;
}


