/*index.html*/
* {
	margin: 0;
	padding: 0;
}

.index body {
	background: url(../images/bg.png) repeat;
}

.logo {
	width: 282px;
	height: 223;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -141px;
	margin-top: -111px;
	background: url(../images/logo.png);
}

/*helicopter.html*/
.helicopter body {
	background: #192f68;
	overflow: hidden;
}

.cloudBig {
	width: 224px;
	height: 112px;
	position: absolute;
	left: 10%;
	background: url(../images/cloud-big.png);
}

.cloudSmall {
	width: 122px;
	height: 60px;
	position: absolute;
	right: 10%;
	background: url(../images/cloud-small.png);
}

.map {
	width: 480px;
	height: 652px;
	position: absolute;
	bottom: 150px;
	left: 50%;
	margin-left: -240px;
	opacity: 0;
	background: url(../images/map.png);
}

.building {
	width: 603px;
	height: 572px;
	position: absolute;
	bottom: 150px;
	left: 50%;
	margin-left: -301px;
	background: url(../images/building.png);
}

.startContainer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 150px;
	background: url(../images/bg.png) repeat;
}

.start {
	width: 190px;
	height: 90px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -95px;
	margin-top: -45px;
	cursor: pointer;
	background: url(../images/start.png);
}
